{
    "openapi": "3.0.0",
    "info": {
        "title": "Dokumentasi API Rumah Sakit",
        "description": "API ini digunakan untuk mengelola data pasien, dokter, konsultasi, dan lainnya.",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "http://my-default-host.com",
            "description": "Server API Lokal"
        },
        {
            "url": "/api"
        }
    ],
    "paths": {
        "/api/dokter": {
            "get": {
                "tags": [
                    "Dokter"
                ],
                "summary": "Menampilkan semua dokter",
                "operationId": "56513231100bce5b3fbc8d8665026b73",
                "responses": {
                    "200": {
                        "description": "Daftar dokter berhasil diambil"
                    }
                }
            },
            "post": {
                "tags": [
                    "Dokter"
                ],
                "summary": "Menambahkan dokter baru",
                "operationId": "0ed4d306239fbc82987eb608fd5b7c32",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "nama",
                                    "spesialisasi",
                                    "no_telepon",
                                    "email"
                                ],
                                "properties": {
                                    "nama": {
                                        "type": "string"
                                    },
                                    "spesialisasi": {
                                        "type": "string"
                                    },
                                    "no_telepon": {
                                        "type": "string"
                                    },
                                    "email": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Dokter berhasil ditambahkan"
                    }
                }
            }
        },
        "/api/dokter/{id}": {
            "get": {
                "tags": [
                    "Dokter"
                ],
                "summary": "Menampilkan detail dokter",
                "operationId": "8a5c11bbb78172077f0c33f66c455a8c",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID dokter",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Data dokter berhasil diambil"
                    },
                    "404": {
                        "description": "Dokter tidak ditemukan"
                    }
                }
            },
            "put": {
                "tags": [
                    "Dokter"
                ],
                "summary": "Memperbarui data dokter",
                "operationId": "3c37ae6731c0581fcf8b24593d50b40c",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID dokter",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "nama": {
                                        "type": "string"
                                    },
                                    "spesialisasi": {
                                        "type": "string"
                                    },
                                    "no_telepon": {
                                        "type": "string"
                                    },
                                    "email": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Data dokter berhasil diperbarui"
                    },
                    "404": {
                        "description": "Dokter tidak ditemukan"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Dokter"
                ],
                "summary": "Menghapus dokter",
                "operationId": "a369d595c876867767ab1ffd27c14f53",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID dokter",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Dokter berhasil dihapus"
                    },
                    "404": {
                        "description": "Dokter tidak ditemukan"
                    }
                }
            }
        },
        "/api/jadwal-dokter": {
            "get": {
                "tags": [
                    "Jadwal Dokter"
                ],
                "summary": "Menampilkan semua jadwal dokter",
                "operationId": "88efb88118193568d552a36ff1a185d8",
                "responses": {
                    "200": {
                        "description": "Daftar jadwal dokter berhasil diambil"
                    }
                }
            },
            "post": {
                "tags": [
                    "Jadwal Dokter"
                ],
                "summary": "Membuat jadwal dokter baru",
                "operationId": "8392d8c177faced7a2591549dc083969",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "dokter_id",
                                    "hari",
                                    "jam_mulai",
                                    "jam_selesai"
                                ],
                                "properties": {
                                    "dokter_id": {
                                        "type": "integer"
                                    },
                                    "hari": {
                                        "type": "string"
                                    },
                                    "jam_mulai": {
                                        "type": "string",
                                        "format": "time"
                                    },
                                    "jam_selesai": {
                                        "type": "string",
                                        "format": "time"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Jadwal dokter berhasil ditambahkan"
                    }
                }
            }
        },
        "/api/jadwal-dokter/{id}": {
            "get": {
                "tags": [
                    "Jadwal Dokter"
                ],
                "summary": "Menampilkan detail jadwal dokter",
                "operationId": "e647942c91a6bc0220eb5d4c5ac6696e",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID jadwal dokter",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Data jadwal dokter berhasil diambil"
                    },
                    "404": {
                        "description": "Jadwal tidak ditemukan"
                    }
                }
            },
            "put": {
                "tags": [
                    "Jadwal Dokter"
                ],
                "summary": "Memperbarui jadwal dokter",
                "operationId": "71aab38e1e0e050ea01cf3bad1cdcfc8",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID jadwal dokter",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "dokter_id": {
                                        "type": "integer"
                                    },
                                    "hari": {
                                        "type": "string"
                                    },
                                    "jam_mulai": {
                                        "type": "string",
                                        "format": "time"
                                    },
                                    "jam_selesai": {
                                        "type": "string",
                                        "format": "time"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Jadwal dokter berhasil diperbarui"
                    },
                    "404": {
                        "description": "Jadwal tidak ditemukan"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Jadwal Dokter"
                ],
                "summary": "Menghapus jadwal dokter",
                "operationId": "63e01e26c224023aeb9bbd3e608e3a95",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID jadwal dokter",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Jadwal dokter berhasil dihapus"
                    },
                    "404": {
                        "description": "Jadwal tidak ditemukan"
                    }
                }
            }
        },
        "/api/konsultasi": {
            "get": {
                "tags": [
                    "Konsultasi"
                ],
                "summary": "Menampilkan semua data konsultasi",
                "operationId": "3a57cd90c3a84dda05941bf7cf6bfed4",
                "responses": {
                    "200": {
                        "description": "Berhasil mengambil semua data konsultasi"
                    }
                }
            },
            "post": {
                "tags": [
                    "Konsultasi"
                ],
                "summary": "Menyimpan data konsultasi baru",
                "operationId": "882765e8d04b2f3530f9875e7ced8f1f",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "pasien_id",
                                    "dokter_id",
                                    "jadwal_id",
                                    "tanggal_konsultasi",
                                    "status"
                                ],
                                "properties": {
                                    "pasien_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "dokter_id": {
                                        "type": "integer",
                                        "example": 2
                                    },
                                    "jadwal_id": {
                                        "type": "integer",
                                        "example": 3
                                    },
                                    "tanggal_konsultasi": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2025-04-30"
                                    },
                                    "status": {
                                        "type": "string",
                                        "enum": [
                                            "Dijadwalkan",
                                            "Selesai",
                                            "Dibatalkan"
                                        ],
                                        "example": "Dijadwalkan"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Konsultasi berhasil disimpan"
                    },
                    "500": {
                        "description": "Gagal menyimpan konsultasi"
                    }
                }
            }
        },
        "/api/konsultasi/{id}": {
            "get": {
                "tags": [
                    "Konsultasi"
                ],
                "summary": "Menampilkan detail konsultasi",
                "operationId": "7a69db09f31e76446f2b632982b57081",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID konsultasi",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Berhasil mengambil detail konsultasi"
                    },
                    "404": {
                        "description": "Konsultasi tidak ditemukan"
                    }
                }
            },
            "put": {
                "tags": [
                    "Konsultasi"
                ],
                "summary": "Memperbarui data konsultasi",
                "operationId": "114a0d580c72f0e0eee9a44207654b5b",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID konsultasi yang akan diperbarui",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": false,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "pasien_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "dokter_id": {
                                        "type": "integer",
                                        "example": 2
                                    },
                                    "jadwal_id": {
                                        "type": "integer",
                                        "example": 3
                                    },
                                    "tanggal_konsultasi": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2025-04-30"
                                    },
                                    "status": {
                                        "type": "string",
                                        "enum": [
                                            "Dijadwalkan",
                                            "Selesai",
                                            "Dibatalkan"
                                        ],
                                        "example": "Selesai"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Konsultasi berhasil diperbarui"
                    },
                    "404": {
                        "description": "Konsultasi tidak ditemukan"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Konsultasi"
                ],
                "summary": "Menghapus data konsultasi",
                "operationId": "cd47f6a62273e14dad622c39c34c46f8",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID konsultasi",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Konsultasi berhasil dihapus"
                    },
                    "404": {
                        "description": "Konsultasi tidak ditemukan"
                    }
                }
            }
        },
        "/api/laporan": {
            "get": {
                "tags": [
                    "Laporan"
                ],
                "summary": "Menampilkan semua data laporan",
                "operationId": "076e4c0226607e0351c07a8e1ac1893c",
                "responses": {
                    "200": {
                        "description": "Data laporan berhasil diambil"
                    }
                }
            },
            "post": {
                "tags": [
                    "Laporan"
                ],
                "summary": "Menyimpan data laporan baru",
                "operationId": "d97fa4e1a3072819b633afae97511b2e",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "periode",
                                    "jumlah_pasien",
                                    "pendapatan"
                                ],
                                "properties": {
                                    "periode": {
                                        "type": "string",
                                        "example": "Januari 2025"
                                    },
                                    "jumlah_pasien": {
                                        "type": "integer",
                                        "example": 100
                                    },
                                    "pendapatan": {
                                        "type": "number",
                                        "format": "float",
                                        "example": 15000000
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Data laporan berhasil disimpan"
                    }
                }
            }
        },
        "/api/laporan/{id}": {
            "get": {
                "tags": [
                    "Laporan"
                ],
                "summary": "Menampilkan detail laporan berdasarkan ID",
                "operationId": "c38dac1985b9507737fabf48a36d6580",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID laporan",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Detail laporan ditemukan"
                    },
                    "404": {
                        "description": "Laporan tidak ditemukan"
                    }
                }
            },
            "put": {
                "tags": [
                    "Laporan"
                ],
                "summary": "Memperbarui data laporan",
                "operationId": "cf5b58b0489047876ec7e684d8482324",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID laporan",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": false,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "periode": {
                                        "type": "string",
                                        "example": "Februari 2025"
                                    },
                                    "jumlah_pasien": {
                                        "type": "integer",
                                        "example": 120
                                    },
                                    "pendapatan": {
                                        "type": "number",
                                        "format": "float",
                                        "example": 17000000
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Data laporan berhasil diperbarui"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Laporan"
                ],
                "summary": "Menghapus data laporan",
                "operationId": "c9e61853f673d1cb6998868e949f0249",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID laporan",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Laporan berhasil dihapus"
                    }
                }
            }
        },
        "/api/pasien": {
            "get": {
                "tags": [
                    "Pasien"
                ],
                "summary": "Menampilkan daftar semua pasien",
                "operationId": "getPasien",
                "responses": {
                    "200": {
                        "description": "Berhasil mendapatkan daftar pasien"
                    }
                }
            },
            "post": {
                "tags": [
                    "Pasien"
                ],
                "summary": "Menyimpan data pasien baru",
                "operationId": "storePasien",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "nama",
                                    "tanggal_lahir",
                                    "jenis_kelamin",
                                    "alamat"
                                ],
                                "properties": {
                                    "nama": {
                                        "type": "string"
                                    },
                                    "tanggal_lahir": {
                                        "type": "string",
                                        "format": "date"
                                    },
                                    "jenis_kelamin": {
                                        "type": "string"
                                    },
                                    "alamat": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Data pasien berhasil disimpan"
                    }
                }
            }
        },
        "/api/pasien/{id}": {
            "get": {
                "tags": [
                    "Pasien"
                ],
                "summary": "Menampilkan detail pasien berdasarkan ID",
                "operationId": "getDetailPasien",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Detail pasien ditemukan"
                    },
                    "404": {
                        "description": "Pasien tidak ditemukan"
                    }
                }
            },
            "put": {
                "tags": [
                    "Pasien"
                ],
                "summary": "Memperbarui data pasien",
                "operationId": "updatePasien",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "nama",
                                    "tanggal_lahir",
                                    "jenis_kelamin",
                                    "alamat"
                                ],
                                "properties": {
                                    "nama": {
                                        "type": "string"
                                    },
                                    "tanggal_lahir": {
                                        "type": "string",
                                        "format": "date"
                                    },
                                    "jenis_kelamin": {
                                        "type": "string"
                                    },
                                    "alamat": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Data pasien berhasil diperbarui"
                    },
                    "404": {
                        "description": "Pasien tidak ditemukan"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Pasien"
                ],
                "summary": "Menghapus data pasien",
                "operationId": "deletePasien",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Pasien berhasil dihapus"
                    },
                    "404": {
                        "description": "Pasien tidak ditemukan"
                    }
                }
            }
        },
        "/api/payments": {
            "get": {
                "tags": [
                    "Payments"
                ],
                "summary": "Menampilkan daftar semua pembayaran",
                "operationId": "getPayments",
                "responses": {
                    "200": {
                        "description": "Berhasil mendapatkan daftar pembayaran"
                    }
                }
            },
            "post": {
                "tags": [
                    "Payments"
                ],
                "summary": "Menyimpan data pembayaran baru",
                "operationId": "storePayment",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "konsultasi_id",
                                    "amount",
                                    "payment_date",
                                    "method",
                                    "status"
                                ],
                                "properties": {
                                    "konsultasi_id": {
                                        "type": "integer"
                                    },
                                    "amount": {
                                        "type": "number",
                                        "format": "float"
                                    },
                                    "payment_date": {
                                        "type": "string",
                                        "format": "date"
                                    },
                                    "method": {
                                        "type": "string",
                                        "enum": [
                                            "Cash",
                                            "Credit Card",
                                            "Transfer"
                                        ]
                                    },
                                    "status": {
                                        "type": "string",
                                        "enum": [
                                            "Pending",
                                            "Paid",
                                            "Cancelled"
                                        ]
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Pembayaran berhasil disimpan"
                    }
                }
            }
        },
        "/api/payments/{id}": {
            "get": {
                "tags": [
                    "Payments"
                ],
                "summary": "Menampilkan detail pembayaran berdasarkan ID",
                "operationId": "getPaymentDetail",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Detail pembayaran ditemukan"
                    },
                    "404": {
                        "description": "Pembayaran tidak ditemukan"
                    }
                }
            },
            "put": {
                "tags": [
                    "Payments"
                ],
                "summary": "Memperbarui data pembayaran",
                "operationId": "updatePayment",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "konsultasi_id",
                                    "amount",
                                    "payment_date",
                                    "method",
                                    "status"
                                ],
                                "properties": {
                                    "konsultasi_id": {
                                        "type": "integer"
                                    },
                                    "amount": {
                                        "type": "number",
                                        "format": "float"
                                    },
                                    "payment_date": {
                                        "type": "string",
                                        "format": "date"
                                    },
                                    "method": {
                                        "type": "string",
                                        "enum": [
                                            "Cash",
                                            "Credit Card",
                                            "Transfer"
                                        ]
                                    },
                                    "status": {
                                        "type": "string",
                                        "enum": [
                                            "Pending",
                                            "Paid",
                                            "Cancelled"
                                        ]
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Data pembayaran berhasil diperbarui"
                    },
                    "404": {
                        "description": "Pembayaran tidak ditemukan"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Payments"
                ],
                "summary": "Menghapus data pembayaran",
                "operationId": "deletePayment",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Pembayaran berhasil dihapus"
                    },
                    "404": {
                        "description": "Pembayaran tidak ditemukan"
                    }
                }
            }
        },
        "/api/rekam-medis": {
            "get": {
                "tags": [
                    "Rekam Medis"
                ],
                "summary": "Menampilkan semua rekam medis",
                "operationId": "d23d3249a6e0172185629e0425c0ca44",
                "responses": {
                    "200": {
                        "description": "Berhasil menampilkan semua rekam medis"
                    }
                }
            },
            "post": {
                "tags": [
                    "Rekam Medis"
                ],
                "summary": "Membuat data rekam medis baru",
                "operationId": "8d3b0bd074c34f9296f940f677b94169",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "pasien_id",
                                    "tanggal_kunjungan",
                                    "diagnosis",
                                    "tindakan",
                                    "obat"
                                ],
                                "properties": {
                                    "pasien_id": {
                                        "type": "integer"
                                    },
                                    "tanggal_kunjungan": {
                                        "type": "string",
                                        "format": "date"
                                    },
                                    "diagnosis": {
                                        "type": "string"
                                    },
                                    "tindakan": {
                                        "type": "string"
                                    },
                                    "obat": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Rekam medis berhasil dibuat"
                    }
                }
            }
        },
        "/api/rekam-medis/{id}": {
            "get": {
                "tags": [
                    "Rekam Medis"
                ],
                "summary": "Menampilkan detail rekam medis",
                "operationId": "2c1b5e363c3cfd3d97ad0eda55e76886",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID rekam medis",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Detail rekam medis ditemukan"
                    },
                    "404": {
                        "description": "Rekam medis tidak ditemukan"
                    }
                }
            },
            "put": {
                "tags": [
                    "Rekam Medis"
                ],
                "summary": "Memperbarui data rekam medis",
                "operationId": "1bb0b34bcf4b3bcfbe838fc277b24931",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID rekam medis",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "pasien_id": {
                                        "type": "integer"
                                    },
                                    "tanggal_kunjungan": {
                                        "type": "string",
                                        "format": "date"
                                    },
                                    "diagnosis": {
                                        "type": "string"
                                    },
                                    "tindakan": {
                                        "type": "string"
                                    },
                                    "obat": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Data rekam medis berhasil diperbarui"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Rekam Medis"
                ],
                "summary": "Menghapus data rekam medis",
                "operationId": "bceaaa368c3fbec6e785edf39ed673a1",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID rekam medis",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Rekam medis berhasil dihapus"
                    }
                }
            }
        },
        "/api/user": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Menampilkan semua user",
                "operationId": "ef3192335324c07faff67807a2e8a2f8",
                "responses": {
                    "200": {
                        "description": "Daftar semua user"
                    }
                }
            },
            "post": {
                "tags": [
                    "User"
                ],
                "summary": "Membuat user baru",
                "operationId": "287bc3ec931e652c54bb2ddb777040bc",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name",
                                    "email",
                                    "password"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "Admin"
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "admin@example.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "example": "password123"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "User berhasil dibuat"
                    },
                    "400": {
                        "description": "Validasi gagal"
                    }
                }
            }
        },
        "/api/user/{id}": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Menampilkan detail user",
                "operationId": "430618624b90f3b94e90e86921470fdd",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Detail user"
                    },
                    "404": {
                        "description": "User tidak ditemukan"
                    }
                }
            },
            "put": {
                "tags": [
                    "User"
                ],
                "summary": "Memperbarui data user",
                "operationId": "479f33f268cca6dba677c396b495b60d",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "type": "string"
                                    },
                                    "email": {
                                        "type": "string"
                                    },
                                    "password": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "User berhasil diperbarui"
                    },
                    "404": {
                        "description": "User tidak ditemukan"
                    }
                }
            },
            "delete": {
                "tags": [
                    "User"
                ],
                "summary": "Menghapus user",
                "operationId": "fb7c6cd121c930b66eefc7569b0f0ab3",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "User berhasil dihapus"
                    },
                    "404": {
                        "description": "User tidak ditemukan"
                    }
                }
            }
        }
    },
    "tags": [
        {
            "name": "Dokter",
            "description": "Manajemen data dokter"
        },
        {
            "name": "Jadwal Dokter",
            "description": "Manajemen data jadwal dokter"
        },
        {
            "name": "Konsultasi",
            "description": "Manajemen data konsultasi pasien"
        },
        {
            "name": "Laporan",
            "description": "API untuk laporan klinik"
        },
        {
            "name": "Payments",
            "description": "Manajemen data pembayaran"
        },
        {
            "name": "Rekam Medis",
            "description": "Manajemen data rekam medis pasien"
        },
        {
            "name": "User",
            "description": "Manajemen data pengguna sistem"
        },
        {
            "name": "Pasien",
            "description": "Pasien"
        }
    ]
}