{
    "openapi": "3.0.0",
    "info": {
        "title": "Dokumentasi API Rumah Sakit",
        "description": "API ini digunakan untuk mengelola data pasien, dokter, konsultasi, dan lainnya.",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "http://my-default-host.com",
            "description": "Server API Lokal"
        },
        {
            "url": "/api"
        }
    ],
    "paths": {
        "/api/antrean": {
            "get": {
                "tags": [
                    "Antrean"
                ],
                "summary": "Menampilkan semua data antrean",
                "operationId": "getAntrean",
                "responses": {
                    "200": {
                        "description": "Berhasil mendapatkan daftar antrean"
                    }
                }
            },
            "post": {
                "tags": [
                    "Antrean"
                ],
                "summary": "Membuat antrean baru",
                "operationId": "storeAntrean",
                "parameters": [
                    {
                        "name": "nama",
                        "in": "query",
                        "description": "Nama pasien",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "tanggal_lahir",
                        "in": "query",
                        "description": "Tanggal lahir pasien",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "jenis_kelamin",
                        "in": "query",
                        "description": "Jenis kelamin pasien",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "Laki-laki",
                                "Perempuan"
                            ]
                        }
                    },
                    {
                        "name": "alamat",
                        "in": "query",
                        "description": "Alamat pasien",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "pasien_id",
                                    "nomor_antrean",
                                    "status",
                                    "tanggal"
                                ],
                                "properties": {
                                    "pasien_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "nomor_antrean": {
                                        "type": "string",
                                        "example": "A001"
                                    },
                                    "status": {
                                        "type": "string",
                                        "enum": [
                                            "menunggu",
                                            "dipanggil",
                                            "selesai",
                                            "batal"
                                        ],
                                        "example": "menunggu"
                                    },
                                    "tanggal": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2025-05-26"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Antrean berhasil dibuat"
                    }
                }
            }
        },
        "/api/antrean/{id}": {
            "get": {
                "tags": [
                    "Antrean"
                ],
                "summary": "Menampilkan detail antrean berdasarkan ID",
                "operationId": "getDetailAntrean",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Detail antrean ditemukan"
                    },
                    "404": {
                        "description": "Antrean tidak ditemukan"
                    }
                }
            },
            "put": {
                "tags": [
                    "Antrean"
                ],
                "summary": "Memperbarui data antrean",
                "operationId": "updateAntrean",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID antrean yang akan diperbarui",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "nama",
                        "in": "query",
                        "description": "Nama pasien",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "tanggal_lahir",
                        "in": "query",
                        "description": "Tanggal lahir pasien",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "jenis_kelamin",
                        "in": "query",
                        "description": "Jenis kelamin pasien",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "Laki-laki",
                                "Perempuan"
                            ]
                        }
                    },
                    {
                        "name": "alamat",
                        "in": "query",
                        "description": "Alamat pasien",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "pasien_id",
                                    "nomor_antrean",
                                    "status",
                                    "tanggal"
                                ],
                                "properties": {
                                    "pasien_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "nomor_antrean": {
                                        "type": "string",
                                        "example": "A002"
                                    },
                                    "status": {
                                        "type": "string",
                                        "enum": [
                                            "menunggu",
                                            "dipanggil",
                                            "selesai",
                                            "batal"
                                        ],
                                        "example": "dipanggil"
                                    },
                                    "tanggal": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2025-05-27"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Antrean berhasil diperbarui"
                    },
                    "404": {
                        "description": "Antrean tidak ditemukan"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Antrean"
                ],
                "summary": "Menghapus data antrean",
                "operationId": "deleteAntrean",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Antrean berhasil dihapus"
                    },
                    "404": {
                        "description": "Antrean tidak ditemukan"
                    }
                }
            }
        },
        "/api/dokter": {
            "get": {
                "tags": [
                    "Dokter"
                ],
                "summary": "Menampilkan semua dokter",
                "operationId": "56513231100bce5b3fbc8d8665026b73",
                "responses": {
                    "200": {
                        "description": "Daftar dokter berhasil diambil"
                    }
                }
            },
            "post": {
                "tags": [
                    "Dokter"
                ],
                "summary": "Menambahkan dokter baru",
                "operationId": "0ed4d306239fbc82987eb608fd5b7c32",
                "parameters": [
                    {
                        "name": "nama",
                        "in": "query",
                        "description": "Nama dokter",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "maxLength": 100
                        }
                    },
                    {
                        "name": "spesialisasi",
                        "in": "query",
                        "description": "Spesialisasi dokter",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "maxLength": 100
                        }
                    },
                    {
                        "name": "no_telepon",
                        "in": "query",
                        "description": "Nomor telepon dokter, harus unik",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "maxLength": 20
                        }
                    },
                    {
                        "name": "email",
                        "in": "query",
                        "description": "Email dokter, harus unik",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "email",
                            "maxLength": 100
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Dokter berhasil ditambahkan",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Dokter berhasil ditambahkan"
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "nama": {
                                                    "type": "string",
                                                    "example": "Dr. Budi"
                                                },
                                                "spesialisasi": {
                                                    "type": "string",
                                                    "example": "Kardiologi"
                                                },
                                                "no_telepon": {
                                                    "type": "string",
                                                    "example": "08123456789"
                                                },
                                                "email": {
                                                    "type": "string",
                                                    "example": "budi@example.com"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/dokter/{id}": {
            "get": {
                "tags": [
                    "Dokter"
                ],
                "summary": "Menampilkan detail dokter",
                "operationId": "8a5c11bbb78172077f0c33f66c455a8c",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID dokter",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Data dokter berhasil diambil"
                    },
                    "404": {
                        "description": "Dokter tidak ditemukan"
                    }
                }
            },
            "put": {
                "tags": [
                    "Dokter"
                ],
                "summary": "Memperbarui data dokter melalui query parameter",
                "operationId": "3c37ae6731c0581fcf8b24593d50b40c",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID dokter yang akan diperbarui",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    },
                    {
                        "name": "nama",
                        "in": "query",
                        "description": "Nama dokter",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "Dr. Budi"
                        }
                    },
                    {
                        "name": "spesialisasi",
                        "in": "query",
                        "description": "Spesialisasi dokter",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "Kardiologi"
                        }
                    },
                    {
                        "name": "no_telepon",
                        "in": "query",
                        "description": "Nomor telepon dokter",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "08123456789"
                        }
                    },
                    {
                        "name": "email",
                        "in": "query",
                        "description": "Email dokter",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "email",
                            "example": "budi@example.com"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Data dokter berhasil diperbarui",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Data dokter berhasil diperbarui"
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "nama": {
                                                    "type": "string",
                                                    "example": "Dr. Budi"
                                                },
                                                "spesialisasi": {
                                                    "type": "string",
                                                    "example": "Kardiologi"
                                                },
                                                "no_telepon": {
                                                    "type": "string",
                                                    "example": "08123456789"
                                                },
                                                "email": {
                                                    "type": "string",
                                                    "example": "budi@example.com"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Dokter tidak ditemukan",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Dokter tidak ditemukan"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Dokter"
                ],
                "summary": "Menghapus dokter",
                "operationId": "a369d595c876867767ab1ffd27c14f53",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID dokter",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Dokter berhasil dihapus"
                    },
                    "404": {
                        "description": "Dokter tidak ditemukan"
                    }
                }
            }
        },
        "/api/inventory": {
            "get": {
                "tags": [
                    "Inventory"
                ],
                "summary": "Menampilkan semua data inventaris obat",
                "operationId": "getAllInventory",
                "responses": {
                    "200": {
                        "description": "Berhasil mendapatkan data inventaris"
                    }
                }
            },
            "post": {
                "tags": [
                    "Inventory"
                ],
                "summary": "Menyimpan data inventaris obat baru",
                "operationId": "createInventory",
                "parameters": [
                    {
                        "name": "nama_obat",
                        "in": "query",
                        "description": "Nama obat",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "kategori",
                        "in": "query",
                        "description": "Kategori obat",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "Tablet",
                                "Syrup",
                                "Capsule",
                                "Injection"
                            ]
                        }
                    },
                    {
                        "name": "stok",
                        "in": "query",
                        "description": "Jumlah stok obat",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "harga",
                        "in": "query",
                        "description": "Harga obat",
                        "required": true,
                        "schema": {
                            "type": "number",
                            "format": "float"
                        }
                    },
                    {
                        "name": "exp_date",
                        "in": "query",
                        "description": "Tanggal kadaluarsa",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "nama_obat",
                                    "kategori",
                                    "stok",
                                    "harga",
                                    "exp_date"
                                ],
                                "properties": {
                                    "nama_obat": {
                                        "type": "string",
                                        "example": "Paracetamol"
                                    },
                                    "kategori": {
                                        "type": "string",
                                        "enum": [
                                            "Tablet",
                                            "Syrup",
                                            "Capsule",
                                            "Injection"
                                        ],
                                        "example": "Tablet"
                                    },
                                    "stok": {
                                        "type": "integer",
                                        "example": 100
                                    },
                                    "harga": {
                                        "type": "number",
                                        "format": "float",
                                        "example": 5000
                                    },
                                    "exp_date": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2025-12-31"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Data inventaris berhasil disimpan"
                    }
                }
            }
        },
        "/api/inventory/{id}": {
            "get": {
                "tags": [
                    "Inventory"
                ],
                "summary": "Menampilkan data inventaris berdasarkan ID",
                "operationId": "getInventoryById",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Inventaris ditemukan"
                    },
                    "404": {
                        "description": "Inventaris tidak ditemukan"
                    }
                }
            },
            "put": {
                "tags": [
                    "Inventory"
                ],
                "summary": "Memperbarui data inventaris obat",
                "operationId": "updateInventory",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID inventaris",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "nama_obat",
                        "in": "query",
                        "description": "Nama obat",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "kategori",
                        "in": "query",
                        "description": "Kategori obat. Nilai yang tersedia: Tablet, Syrup, Capsule, Injection",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "Tablet",
                                "Syrup",
                                "Capsule",
                                "Injection"
                            ]
                        }
                    },
                    {
                        "name": "stok",
                        "in": "query",
                        "description": "Jumlah stok obat",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "harga",
                        "in": "query",
                        "description": "Harga obat",
                        "required": false,
                        "schema": {
                            "type": "number",
                            "format": "float"
                        }
                    },
                    {
                        "name": "exp_date",
                        "in": "query",
                        "description": "Tanggal kadaluarsa (format: YYYY-MM-DD)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Data inventaris berhasil diperbarui"
                    },
                    "404": {
                        "description": "Inventaris tidak ditemukan"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Inventory"
                ],
                "summary": "Menghapus data inventaris obat",
                "operationId": "deleteInventory",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Inventaris berhasil dihapus"
                    },
                    "404": {
                        "description": "Inventaris tidak ditemukan"
                    }
                }
            }
        },
        "/api/jadwal-dokter": {
            "get": {
                "tags": [
                    "Jadwal Dokter"
                ],
                "summary": "Menampilkan semua jadwal dokter",
                "operationId": "88efb88118193568d552a36ff1a185d8",
                "responses": {
                    "200": {
                        "description": "Daftar jadwal dokter berhasil diambil"
                    }
                }
            },
            "post": {
                "tags": [
                    "Jadwal Dokter"
                ],
                "summary": "Membuat jadwal dokter baru",
                "operationId": "8392d8c177faced7a2591549dc083969",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "dokter_id",
                                    "hari",
                                    "jam_mulai",
                                    "jam_selesai"
                                ],
                                "properties": {
                                    "dokter_id": {
                                        "type": "integer"
                                    },
                                    "hari": {
                                        "type": "string"
                                    },
                                    "jam_mulai": {
                                        "type": "string",
                                        "format": "time"
                                    },
                                    "jam_selesai": {
                                        "type": "string",
                                        "format": "time"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Jadwal dokter berhasil ditambahkan"
                    }
                }
            }
        },
        "/api/jadwal-dokter/{id}": {
            "get": {
                "tags": [
                    "Jadwal Dokter"
                ],
                "summary": "Menampilkan detail jadwal dokter",
                "operationId": "e647942c91a6bc0220eb5d4c5ac6696e",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID jadwal dokter",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Data jadwal dokter berhasil diambil"
                    },
                    "404": {
                        "description": "Jadwal tidak ditemukan"
                    }
                }
            },
            "put": {
                "tags": [
                    "Jadwal Dokter"
                ],
                "summary": "Memperbarui jadwal dokter",
                "operationId": "71aab38e1e0e050ea01cf3bad1cdcfc8",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID jadwal dokter",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "dokter_id": {
                                        "type": "integer"
                                    },
                                    "hari": {
                                        "type": "string"
                                    },
                                    "jam_mulai": {
                                        "type": "string",
                                        "format": "time"
                                    },
                                    "jam_selesai": {
                                        "type": "string",
                                        "format": "time"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Jadwal dokter berhasil diperbarui"
                    },
                    "404": {
                        "description": "Jadwal tidak ditemukan"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Jadwal Dokter"
                ],
                "summary": "Menghapus jadwal dokter",
                "operationId": "63e01e26c224023aeb9bbd3e608e3a95",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID jadwal dokter",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Jadwal dokter berhasil dihapus"
                    },
                    "404": {
                        "description": "Jadwal tidak ditemukan"
                    }
                }
            }
        },
        "/api/konsultasi": {
            "get": {
                "tags": [
                    "Konsultasi"
                ],
                "summary": "Menampilkan semua data konsultasi",
                "operationId": "3a57cd90c3a84dda05941bf7cf6bfed4",
                "responses": {
                    "200": {
                        "description": "Berhasil mengambil semua data konsultasi"
                    }
                }
            },
            "post": {
                "tags": [
                    "Konsultasi"
                ],
                "summary": "Menyimpan data konsultasi baru",
                "operationId": "882765e8d04b2f3530f9875e7ced8f1f",
                "parameters": [
                    {
                        "name": "pasien_id",
                        "in": "query",
                        "description": "ID pasien",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    },
                    {
                        "name": "dokter_id",
                        "in": "query",
                        "description": "ID dokter",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 2
                        }
                    },
                    {
                        "name": "jadwal_id",
                        "in": "query",
                        "description": "ID jadwal dokter",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 3
                        }
                    },
                    {
                        "name": "tanggal_konsultasi",
                        "in": "query",
                        "description": "Tanggal konsultasi",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date",
                            "example": "2025-04-30"
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "description": "Status konsultasi",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "Dijadwalkan",
                                "Selesai",
                                "Dibatalkan"
                            ],
                            "example": "Dijadwalkan"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "pasien_id",
                                    "dokter_id",
                                    "jadwal_id",
                                    "tanggal_konsultasi",
                                    "status"
                                ],
                                "properties": {
                                    "pasien_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "dokter_id": {
                                        "type": "integer",
                                        "example": 2
                                    },
                                    "jadwal_id": {
                                        "type": "integer",
                                        "example": 3
                                    },
                                    "tanggal_konsultasi": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2025-04-30"
                                    },
                                    "status": {
                                        "type": "string",
                                        "enum": [
                                            "Dijadwalkan",
                                            "Selesai",
                                            "Dibatalkan"
                                        ],
                                        "example": "Dijadwalkan"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Konsultasi berhasil disimpan"
                    },
                    "500": {
                        "description": "Gagal menyimpan konsultasi"
                    }
                }
            }
        },
        "/api/konsultasi/{id}": {
            "get": {
                "tags": [
                    "Konsultasi"
                ],
                "summary": "Menampilkan detail konsultasi",
                "operationId": "7a69db09f31e76446f2b632982b57081",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID konsultasi",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Berhasil mengambil detail konsultasi"
                    },
                    "404": {
                        "description": "Konsultasi tidak ditemukan"
                    }
                }
            },
            "put": {
                "tags": [
                    "Konsultasi"
                ],
                "summary": "Memperbarui data konsultasi",
                "operationId": "114a0d580c72f0e0eee9a44207654b5b",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID konsultasi yang akan diperbarui",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    },
                    {
                        "name": "pasien_id",
                        "in": "query",
                        "description": "ID pasien",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    },
                    {
                        "name": "dokter_id",
                        "in": "query",
                        "description": "ID dokter",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 2
                        }
                    },
                    {
                        "name": "jadwal_id",
                        "in": "query",
                        "description": "ID jadwal dokter",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 3
                        }
                    },
                    {
                        "name": "tanggal_konsultasi",
                        "in": "query",
                        "description": "Tanggal konsultasi",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date",
                            "example": "2025-04-30"
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "description": "Status konsultasi",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "Dijadwalkan",
                                "Selesai",
                                "Dibatalkan"
                            ],
                            "example": "Selesai"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Konsultasi berhasil diperbarui"
                    },
                    "404": {
                        "description": "Konsultasi tidak ditemukan"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Konsultasi"
                ],
                "summary": "Menghapus data konsultasi",
                "operationId": "cd47f6a62273e14dad622c39c34c46f8",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID konsultasi",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Konsultasi berhasil dihapus"
                    },
                    "404": {
                        "description": "Konsultasi tidak ditemukan"
                    }
                }
            }
        },
        "/api/laporan": {
            "get": {
                "tags": [
                    "Laporan"
                ],
                "summary": "Menampilkan semua data laporan",
                "operationId": "076e4c0226607e0351c07a8e1ac1893c",
                "responses": {
                    "200": {
                        "description": "Data laporan berhasil diambil"
                    }
                }
            },
            "post": {
                "tags": [
                    "Laporan"
                ],
                "summary": "Menyimpan data laporan baru",
                "operationId": "d97fa4e1a3072819b633afae97511b2e",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "periode",
                                    "jumlah_pasien",
                                    "pendapatan"
                                ],
                                "properties": {
                                    "periode": {
                                        "type": "string",
                                        "example": "Januari 2025"
                                    },
                                    "jumlah_pasien": {
                                        "type": "integer",
                                        "example": 100
                                    },
                                    "pendapatan": {
                                        "type": "number",
                                        "format": "float",
                                        "example": 15000000
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Data laporan berhasil disimpan"
                    }
                }
            }
        },
        "/api/laporan/{id}": {
            "get": {
                "tags": [
                    "Laporan"
                ],
                "summary": "Menampilkan detail laporan berdasarkan ID",
                "operationId": "c38dac1985b9507737fabf48a36d6580",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID laporan",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Detail laporan ditemukan"
                    },
                    "404": {
                        "description": "Laporan tidak ditemukan"
                    }
                }
            },
            "put": {
                "tags": [
                    "Laporan"
                ],
                "summary": "Memperbarui data laporan",
                "operationId": "cf5b58b0489047876ec7e684d8482324",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID laporan",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": false,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "periode": {
                                        "type": "string",
                                        "example": "Februari 2025"
                                    },
                                    "jumlah_pasien": {
                                        "type": "integer",
                                        "example": 120
                                    },
                                    "pendapatan": {
                                        "type": "number",
                                        "format": "float",
                                        "example": 17000000
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Data laporan berhasil diperbarui"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Laporan"
                ],
                "summary": "Menghapus data laporan",
                "operationId": "c9e61853f673d1cb6998868e949f0249",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID laporan",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Laporan berhasil dihapus"
                    }
                }
            }
        },
        "/api/pasien": {
            "get": {
                "tags": [
                    "Pasien"
                ],
                "summary": "Menampilkan daftar semua pasien",
                "operationId": "getPasien",
                "responses": {
                    "200": {
                        "description": "Berhasil mendapatkan daftar pasien"
                    }
                }
            },
            "post": {
                "tags": [
                    "Pasien"
                ],
                "summary": "Menyimpan data pasien baru",
                "operationId": "storePasien",
                "parameters": [
                    {
                        "name": "nama",
                        "in": "query",
                        "description": "Nama pasien",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "tanggal_lahir",
                        "in": "query",
                        "description": "Tanggal lahir pasien",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "jenis_kelamin",
                        "in": "query",
                        "description": "Jenis kelamin pasien",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "Laki-laki",
                                "Perempuan"
                            ]
                        }
                    },
                    {
                        "name": "alamat",
                        "in": "query",
                        "description": "Alamat pasien",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "nama",
                                    "tanggal_lahir",
                                    "jenis_kelamin",
                                    "alamat"
                                ],
                                "properties": {
                                    "nama": {
                                        "type": "string"
                                    },
                                    "tanggal_lahir": {
                                        "type": "string",
                                        "format": "date"
                                    },
                                    "jenis_kelamin": {
                                        "type": "string"
                                    },
                                    "alamat": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Data pasien berhasil disimpan"
                    }
                }
            }
        },
        "/pasien/{id}": {
            "put": {
                "tags": [
                    "Pasien"
                ],
                "summary": "Memperbarui data pasien",
                "operationId": "updatePasien",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID pasien",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "nama",
                        "in": "query",
                        "description": "Nama pasien",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "tanggal_lahir",
                        "in": "query",
                        "description": "Tanggal lahir pasien",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "jenis_kelamin",
                        "in": "query",
                        "description": "Jenis kelamin pasien",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "Laki-laki",
                                "Perempuan"
                            ]
                        }
                    },
                    {
                        "name": "alamat",
                        "in": "query",
                        "description": "Alamat pasien",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": false,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "nama": {
                                        "type": "string"
                                    },
                                    "tanggal_lahir": {
                                        "type": "string",
                                        "format": "date"
                                    },
                                    "jenis_kelamin": {
                                        "type": "string"
                                    },
                                    "alamat": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Data pasien berhasil diperbarui"
                    },
                    "404": {
                        "description": "Pasien tidak ditemukan"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Pasien"
                ],
                "summary": "Menghapus data pasien",
                "operationId": "deletePasien",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Pasien berhasil dihapus"
                    },
                    "404": {
                        "description": "Pasien tidak ditemukan"
                    }
                }
            }
        },
        "/api/payments": {
            "get": {
                "tags": [
                    "Payments"
                ],
                "summary": "Menampilkan daftar semua pembayaran",
                "operationId": "getPayments",
                "responses": {
                    "200": {
                        "description": "Berhasil mendapatkan daftar pembayaran"
                    }
                }
            },
            "post": {
                "tags": [
                    "Payments"
                ],
                "summary": "Menyimpan data pembayaran baru",
                "operationId": "storePayment",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "konsultasi_id",
                                    "amount",
                                    "payment_date",
                                    "method",
                                    "status"
                                ],
                                "properties": {
                                    "konsultasi_id": {
                                        "type": "integer"
                                    },
                                    "amount": {
                                        "type": "number",
                                        "format": "float"
                                    },
                                    "payment_date": {
                                        "type": "string",
                                        "format": "date"
                                    },
                                    "method": {
                                        "type": "string",
                                        "enum": [
                                            "Cash",
                                            "Credit Card",
                                            "Transfer"
                                        ]
                                    },
                                    "status": {
                                        "type": "string",
                                        "enum": [
                                            "Pending",
                                            "Paid",
                                            "Cancelled"
                                        ]
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Pembayaran berhasil disimpan"
                    }
                }
            }
        },
        "/api/payments/{id}": {
            "get": {
                "tags": [
                    "Payments"
                ],
                "summary": "Menampilkan detail pembayaran berdasarkan ID",
                "operationId": "getPaymentDetail",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Detail pembayaran ditemukan"
                    },
                    "404": {
                        "description": "Pembayaran tidak ditemukan"
                    }
                }
            },
            "put": {
                "tags": [
                    "Payments"
                ],
                "summary": "Memperbarui data pembayaran",
                "operationId": "updatePayment",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Pembayaran berhasil diperbarui"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Payments"
                ],
                "summary": "Menghapus data pembayaran",
                "operationId": "deletePayment",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Pembayaran berhasil dihapus"
                    }
                }
            }
        },
        "/api/pendaftaran": {
            "get": {
                "tags": [
                    "Pendaftaran"
                ],
                "summary": "Menampilkan semua data pendaftaran",
                "operationId": "getPendaftaran",
                "responses": {
                    "200": {
                        "description": "Berhasil mendapatkan data pendaftaran"
                    }
                }
            },
            "post": {
                "tags": [
                    "Pendaftaran"
                ],
                "summary": "Menyimpan data pendaftaran baru",
                "operationId": "storePendaftaran",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "pasien_id",
                                    "poli_id",
                                    "status_bpjs",
                                    "waktu_daftar"
                                ],
                                "properties": {
                                    "pasien_id": {
                                        "type": "integer"
                                    },
                                    "poli_id": {
                                        "type": "integer"
                                    },
                                    "status_bpjs": {
                                        "type": "string",
                                        "enum": [
                                            "Ya",
                                            "Tidak"
                                        ]
                                    },
                                    "waktu_daftar": {
                                        "type": "string",
                                        "format": "date-time"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Data pendaftaran berhasil disimpan"
                    }
                }
            }
        },
        "/api/pendaftaran/{id}": {
            "get": {
                "tags": [
                    "Pendaftaran"
                ],
                "summary": "Menampilkan detail pendaftaran berdasarkan ID",
                "operationId": "getDetailPendaftaran",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Detail pendaftaran ditemukan"
                    },
                    "404": {
                        "description": "Pendaftaran tidak ditemukan"
                    }
                }
            },
            "put": {
                "tags": [
                    "Pendaftaran"
                ],
                "summary": "Memperbarui data pendaftaran",
                "operationId": "updatePendaftaran",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "pasien_id",
                                    "poli_id",
                                    "status_bpjs",
                                    "waktu_daftar"
                                ],
                                "properties": {
                                    "pasien_id": {
                                        "type": "integer"
                                    },
                                    "poli_id": {
                                        "type": "integer"
                                    },
                                    "status_bpjs": {
                                        "type": "string",
                                        "enum": [
                                            "Ya",
                                            "Tidak"
                                        ]
                                    },
                                    "waktu_daftar": {
                                        "type": "string",
                                        "format": "date-time"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Data pendaftaran berhasil diperbarui"
                    },
                    "404": {
                        "description": "Pendaftaran tidak ditemukan"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Pendaftaran"
                ],
                "summary": "Menghapus data pendaftaran",
                "operationId": "deletePendaftaran",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Pendaftaran berhasil dihapus"
                    },
                    "404": {
                        "description": "Pendaftaran tidak ditemukan"
                    }
                }
            }
        },
        "/api/pengambilan-obat": {
            "get": {
                "tags": [
                    "Pengambilan Obat"
                ],
                "summary": "Menampilkan semua data pengambilan obat",
                "operationId": "getAllPengambilanObat",
                "responses": {
                    "200": {
                        "description": "Berhasil mendapatkan data"
                    }
                }
            },
            "post": {
                "tags": [
                    "Pengambilan Obat"
                ],
                "summary": "Menyimpan data pengambilan obat",
                "operationId": "createPengambilanObat",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "pasien_id",
                                    "inventory_id",
                                    "jumlah",
                                    "tanggal_ambil",
                                    "status"
                                ],
                                "properties": {
                                    "pasien_id": {
                                        "type": "integer"
                                    },
                                    "inventory_id": {
                                        "type": "integer"
                                    },
                                    "jumlah": {
                                        "type": "integer"
                                    },
                                    "tanggal_ambil": {
                                        "type": "string",
                                        "format": "date"
                                    },
                                    "status": {
                                        "type": "string",
                                        "enum": [
                                            "Diambil",
                                            "Belum"
                                        ]
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Data berhasil disimpan"
                    }
                }
            }
        },
        "/api/pengambilan-obat/{id}": {
            "get": {
                "tags": [
                    "Pengambilan Obat"
                ],
                "summary": "Menampilkan detail pengambilan obat",
                "operationId": "getPengambilanObatById",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Data ditemukan"
                    },
                    "404": {
                        "description": "Data tidak ditemukan"
                    }
                }
            },
            "put": {
                "tags": [
                    "Pengambilan Obat"
                ],
                "summary": "Memperbarui data pengambilan obat",
                "operationId": "updatePengambilanObat",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "pasien_id": {
                                        "type": "integer"
                                    },
                                    "inventory_id": {
                                        "type": "integer"
                                    },
                                    "jumlah": {
                                        "type": "integer"
                                    },
                                    "tanggal_ambil": {
                                        "type": "string",
                                        "format": "date"
                                    },
                                    "status": {
                                        "type": "string",
                                        "enum": [
                                            "Diambil",
                                            "Belum"
                                        ]
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Data berhasil diperbarui"
                    },
                    "404": {
                        "description": "Data tidak ditemukan"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Pengambilan Obat"
                ],
                "summary": "Menghapus data pengambilan obat",
                "operationId": "deletePengambilanObat",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Data berhasil dihapus"
                    },
                    "404": {
                        "description": "Data tidak ditemukan"
                    }
                }
            }
        },
        "/api/poli": {
            "get": {
                "tags": [
                    "Poli"
                ],
                "summary": "Menampilkan semua data poli",
                "operationId": "56d5021eadd485e42a2df10c2dad36b0",
                "responses": {
                    "200": {
                        "description": "Berhasil mengambil data poli"
                    }
                }
            },
            "post": {
                "tags": [
                    "Poli"
                ],
                "summary": "Membuat poli baru",
                "description": "Menambahkan data poli baru melalui parameter query",
                "operationId": "dc6f5536ac888fffedc93b62b51d384a",
                "parameters": [
                    {
                        "name": "nama_poli",
                        "in": "query",
                        "description": "Nama poli",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "Poli Gigi"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Poli berhasil dibuat",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "nama_poli": {
                                            "type": "string",
                                            "example": "Poli Gigi"
                                        },
                                        "created_at": {
                                            "type": "string",
                                            "format": "date-time"
                                        },
                                        "updated_at": {
                                            "type": "string",
                                            "format": "date-time"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Data tidak valid"
                    }
                }
            }
        },
        "/api/poli/{id}": {
            "get": {
                "tags": [
                    "Poli"
                ],
                "summary": "Menampilkan detail poli",
                "operationId": "4fae434a6f8aaa6ec003f61ed648d5ce",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Data poli ditemukan"
                    },
                    "404": {
                        "description": "Poli tidak ditemukan"
                    }
                }
            },
            "put": {
                "tags": [
                    "Poli"
                ],
                "summary": "Memperbarui data poli",
                "description": "Memperbarui nama poli berdasarkan ID",
                "operationId": "7c97afe797b07f1ad7a9383bb5553963",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID poli yang ingin diperbarui",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    },
                    {
                        "name": "nama_poli",
                        "in": "query",
                        "description": "Nama poli baru",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "Poli Anak"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Data poli berhasil diperbarui",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "nama_poli": {
                                            "type": "string",
                                            "example": "Poli Anak"
                                        },
                                        "created_at": {
                                            "type": "string",
                                            "format": "date-time"
                                        },
                                        "updated_at": {
                                            "type": "string",
                                            "format": "date-time"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Poli tidak ditemukan"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Poli"
                ],
                "summary": "Menghapus data poli",
                "operationId": "339977a6e91d8a83b1c7fcac36986d10",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Poli berhasil dihapus"
                    },
                    "404": {
                        "description": "Poli tidak ditemukan"
                    }
                }
            }
        },
        "/api/rekam-medis": {
            "get": {
                "tags": [
                    "Rekam Medis"
                ],
                "summary": "Menampilkan semua rekam medis",
                "operationId": "d23d3249a6e0172185629e0425c0ca44",
                "responses": {
                    "200": {
                        "description": "Berhasil menampilkan semua rekam medis"
                    }
                }
            },
            "post": {
                "tags": [
                    "Rekam Medis"
                ],
                "summary": "Membuat data rekam medis baru",
                "operationId": "8d3b0bd074c34f9296f940f677b94169",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "pasien_id",
                                    "tanggal_kunjungan",
                                    "diagnosis",
                                    "tindakan",
                                    "obat"
                                ],
                                "properties": {
                                    "pasien_id": {
                                        "type": "integer"
                                    },
                                    "tanggal_kunjungan": {
                                        "type": "string",
                                        "format": "date"
                                    },
                                    "diagnosis": {
                                        "type": "string"
                                    },
                                    "tindakan": {
                                        "type": "string"
                                    },
                                    "obat": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Rekam medis berhasil dibuat"
                    }
                }
            }
        },
        "/api/rekam-medis/{id}": {
            "get": {
                "tags": [
                    "Rekam Medis"
                ],
                "summary": "Menampilkan detail rekam medis",
                "operationId": "2c1b5e363c3cfd3d97ad0eda55e76886",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID rekam medis",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Detail rekam medis ditemukan"
                    },
                    "404": {
                        "description": "Rekam medis tidak ditemukan"
                    }
                }
            },
            "put": {
                "tags": [
                    "Rekam Medis"
                ],
                "summary": "Memperbarui data rekam medis",
                "operationId": "1bb0b34bcf4b3bcfbe838fc277b24931",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID rekam medis",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "pasien_id": {
                                        "type": "integer"
                                    },
                                    "tanggal_kunjungan": {
                                        "type": "string",
                                        "format": "date"
                                    },
                                    "diagnosis": {
                                        "type": "string"
                                    },
                                    "tindakan": {
                                        "type": "string"
                                    },
                                    "obat": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Data rekam medis berhasil diperbarui"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Rekam Medis"
                ],
                "summary": "Menghapus data rekam medis",
                "operationId": "bceaaa368c3fbec6e785edf39ed673a1",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID rekam medis",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Rekam medis berhasil dihapus"
                    }
                }
            }
        },
        "/api/user": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Menampilkan semua user",
                "operationId": "ef3192335324c07faff67807a2e8a2f8",
                "responses": {
                    "200": {
                        "description": "Daftar semua user"
                    }
                }
            },
            "post": {
                "tags": [
                    "User"
                ],
                "summary": "Membuat user baru",
                "operationId": "287bc3ec931e652c54bb2ddb777040bc",
                "parameters": [
                    {
                        "name": "name",
                        "in": "query",
                        "description": "Nama lengkap user",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "Admin"
                        }
                    },
                    {
                        "name": "email",
                        "in": "query",
                        "description": "Email user",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "email",
                            "example": "admin@example.com"
                        }
                    },
                    {
                        "name": "password",
                        "in": "query",
                        "description": "Password user (minimal 6 karakter)",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "password123"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "User berhasil dibuat"
                    },
                    "400": {
                        "description": "Validasi gagal"
                    }
                }
            }
        },
        "/api/user/{id}": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Menampilkan detail user",
                "operationId": "430618624b90f3b94e90e86921470fdd",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Detail user"
                    },
                    "404": {
                        "description": "User tidak ditemukan"
                    }
                }
            },
            "put": {
                "tags": [
                    "User"
                ],
                "summary": "Memperbarui data user",
                "operationId": "479f33f268cca6dba677c396b495b60d",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID user yang akan diperbarui",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "Nama user",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "Admin Baru"
                        }
                    },
                    {
                        "name": "email",
                        "in": "query",
                        "description": "Email user",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "email",
                            "example": "adminbaru@example.com"
                        }
                    },
                    {
                        "name": "password",
                        "in": "query",
                        "description": "Password baru user (minimal 6 karakter)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "newpassword123"
                        }
                    }
                ],
                "responses": {
                    "200": {
[...]
